# Helicon ISAPI_Rewrite configuration file
# Version 3.1.0.98
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteRule ^(.*)$ index.php/$1 [L]
RewriteCond %{HTTP_HOST} ^91sobt.com [NC]
RewriteRule ^(.*)$ http://www.91sobt.com/$1 [L,R=301]