html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  vertical-align: baseline;
  list-style:none;
} 
body { width:100%;background:#fff; position:relative;_overflow-x: hidden;overflow-x: hidden;}
table {border-collapse: separate;border-spacing: 0;}
caption, th, td {font-weight: normal;}
table, td, th, img, input{vertical-align: middle;}
textarea{overflow:auto;resize:none;}
a{text-decoration:none;}
a img,input {border: none;}
a,button{cursor:pointer;}
.fl{float:left;display:inline;}
.fr{float:right;display:inline;}
img{max-width:100%;height: auto;}