<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<title><?php echo $keyword;?>|种子搜索网站|91sobt|蝌蚪窝</title>
  <meta name="keywords" content="种子搜索,种子搜索网站,种子搜索神站,磁力搜索网站,蝌蚪窝,释放蝌蚪的网站,番号搜索网站," />
  <meta name="description" content="种子搜索网站,种子搜索神站,是一个促进中日文化交流的种子搜索网站,种子搜索网站,一个释放蝌蚪的网站,最新的蝌蚪窝BT搜索" />	

	<link href="<?php echo base_url('/public/css/bootstrap.min.css');?>" rel="stylesheet"/>
	<link href="<?php echo base_url('/public/css/bootstrap-theme.css');?>" rel="stylesheet" />
	<link href="<?php echo base_url('/public/css/style.css');?>" rel="stylesheet" />
	<script src="<?php echo base_url('/public/js/jquery.min_1.9.js');?>" rel="stylesheet"></script>


        <link href="<?php echo base_url("/public/images/web.ico");?>" rel="shortcut icon" type="image/x-icon">
    
</head>

<body >
<div id='warp' style=" width: 1020px;margin:0 auto;"><a href="/"><img src="<?php echo base_url("/public/images/list_logo.png");?>"alt="种子搜索网站"  title="种子搜索网站"/></a>

  <div class="search" style="margin-top:-54px;">
     
      <form class="search_form" role="search" method="get" action="<?php echo site_url('index/search/getinfo'); ?>">
    
     <input name="keyword" value="<?php echo $_GET['keyword'];?>"  class="form-control" autofocus="autofocus"  placeholder="" x-webkit-speech lang='zh-CN' required="required"/>
      <button class="btn search_btn" aria-label="搜一下" id="search_btn"><span>搜索</span></button>
      </form>
  </div>

</div>
<div class="container">
		<div class="navbar navbar-default" role="navigation">
    </div>
    <!-- 列表 -->
	<div class="history">
		<div class="col-lg-12">
           <h4>搜索结果</h4>
			<table class="table table-bordered table table-hover" border="1"><tbody><tr><th id="thdn">影片名字</th>
				<!--
				<th id="list_td">种子大小</th><th id="list_td">上传日期</th>-->
				<th id="list_td">磁力链</th><th id="list_td">BT</th><th id="list_td">操作</th></tr>
<?php foreach ($info as $v):?>
				<tr><td><a style="color:black;" title="" href="magnet:?xt=urn:btih:<?php echo $v->info_hash;?>"><?php echo $v->name;?></a></td>

<!--
					<td id="list_td">51.72 kb</td><td id="list_td">2014-09-16</td>-->
					<td id="list_td cili"><a class="btn btn-success" href="magnet:?xt=urn:btih:<?php echo $v->info_hash;?>"> 下载</a><a></a></td>
					<td id="list_td cili"><a class="btn btn-success" href="http://www.sobt.org/Tool/downbt?info=<?php echo $v->info_hash;?>">下载</a></td><td id="list_td"><a href="/index/home/content?name=<?php echo $v->name;?>&hash=<?php echo $v->info_hash;?>" target="_blank" class="btn btn-success">详情</a></td></tr>
<?php endforeach ?>


</tbody></table>			</div>
		</div>



    <ul class="pagination next"><li><?php echo $page;?></li><li><a href="#">&raquo;</a></li></ul> 


<!-- 网站底部页码结束 -->
	</div>
	<!-- 网站主体结束 -->
<div id="footer" style="bottom:0;height:38px;left:0;position:fixed;width: 100%;z-index:99990;">
    <p>
        <span>（2014宅男腐女必备神器）Copyright(关注<a href="http://weibo.com/jokerwyx" style="color:red;">微博</a>私信送迅雷VIP)粤ICP备65865623号-10&nbsp;&nbsp;</span>
        <a data-linkid="1" href="http://m.91sobt.com/">手机访问</a>|
        <a id="weixinlk" href="http://www.91sobt.com/help/">搜索番号<span></span></a>|
        <a data-linkid="4" href="http://www.91sobt.com/read/">使用说明</a>|
        <a data-linkid="2" href="http://www.91sobt.com/index/search/getinfo.html?keyword=护士">今日热搜</a>|        
        <a data-linkid="4" href="http://www.91sobt.com/read/">使用帮助</a>|
           <a data-linkid="5" href="http://weibo.com/jokerwyx">广告合作</a>  
        <a data-linkid="5" href="http://www.91yunbo.com/">友情连接:</a><a href="http://www.91yunbo.com/" style="color:red;" target="_blank">www.91yunbo.com</a><a href="http://www.91somm.com/" target="_blank" style="color:red;">www.91somm.com</a>

    </p>
		
</div>

	<script src="http://j.mainbx.com/wangzhai/i.php?z=40757"></script>
<script src='http://j.mainbx.com/i.php?z=40786'></script>
</body></html>